#root {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; */
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align:  center;

}



body{
  background-color: #22272e;
  overflow-x: hidden;
  overflow-y: hidden;
}


.none{
  display: none;
}
.btn{
  
  /* padding: 6px 36px; */
  background-color: #373e47;
  border: #414c57 solid 1px;
  color: #adbac7;
  border-radius: 4px;
  font-weight: 500;
  transition: all 0.5s;
}
.input-field{
  background-color: #373e47;
  border: #414c57 solid 1px;
  color: #adbac7;
  border-radius: 4px;
  font-weight: 500;
  outline: none;
  transition: all 0.5s;
}

.close{
  padding: 5px;
}
.close:hover{
  background-color: #414c57;
  border-radius: 4px;
}
.input-field:focus{
  border: #adbac7 solid 1px;
}
.btn:hover{
  border: #adbac7 solid 1px;
}

.color-primary{
  color: #adbac7;
}
.color-secondary{
  color: #768390;
}
.color-thirtiary{
  color: #636e7b;
}

.border-r{
  border-right: #414c57 solid 1px;
}
.border-sm{
  border: #414c57 solid 1px;
  border-radius: 6px;
}

.border-active-r{
  border-right: #adbac7 solid 2px;
  margin-left: 1px;
}
.border{
  border: #adbac7 solid 2px;
}
.border-t{
  border: #adbac7 solid 1px !important;
}
.border-none{
  border: none !important
}

.bg-primary{
  background-color: #22272e;
}
.bg-secondry{
  background-color: #2d333b;
}
.font{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.btn-bg{
  background-color: #373e47;
}
.bottom-profile{
  width: 40px;
  height: 40px;
}
.bubble-img{
  width: 40px;
  height: 40px;
}
.bubble-img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.profile{
  width: 25px;
  height: 25px;
}

.timeline{
  position: relative;
  /* margin: 20px 0; */
}
.timeline::before{
  position: absolute;
  content: "";
  top: 50%;
  left: -1%;
  width: 41%;
  height: 1px;
  background-color: #768390;
}
.timeline::after{
  position: absolute;
  content: "";
  top: 50%;
  right: -1%;
  width: 41%;
  height: 1%;
  background-color: #768390;

}

.img-container{
  height: 300px;
  width: 300px; 
  overflow: hidden;
}

.img-container .img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.canve{
  background-color: #2d333b;
  height: 100vh;
  width: 5vw;
  display: flex;
  border: #414c57 solid 1px;
  border-radius: 5px;
  
}

.channel:hover{
  background-color: #373e47;
}

.ql-editor{
 
}


.ql-container {
  height: 80% !important;
  display: flex;
  flex-grow: 0;
}
.ql-container.ql-snow {
  border: none !important;
}
.quill {

  border: #414c57 solid 1px !important;
  border-radius: 5px !important;
}

.ql-toolbar.ql-snow{
  border: none !important;
  border-bottom: #414c57 solid 1px !important;
  background-color: #2d333b;
  display: flex !important;
  justify-content: flex-end;
  gap: 2px;
  align-items: center;
  align-content: center;
}

.ql-snow .ql-stroke {
  stroke: #768390 !important;
}
.ql-snow .ql-stroke {
  stroke: #768390 !important;
}
.ql-snow .ql-fill, .ql-snow .ql-stroke.ql-fill {
  fill: #768390 !important;
}
.ql-snow * {
  color: #768390 !important;
}

.ql-snow::placeholder {
  color: #adbac7 !important;
  }
.ql-snow.ql-toolbar button, .ql-snow .ql-toolbar button{
   width: 20px !important;
   height: 20px !important;
}

.ql-toolbar.ql-snow .ql-formats {
  margin: 0 !important;
}

.scrollable{
  overflow-y: auto;
}


 ::-webkit-scrollbar {
  width: 6px;
} 

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #adbac7;
  border-radius: 6px; 
}


::-webkit-scrollbar-thumb:hover {
  background: #adbac7;
} 



.bubble{
  min-height: 20%;
  max-height: 74%;
  overflow: auto; 
}

.bubbles:hover{
  background-color: #373e4734;
}

.orLabel{
   position: relative;
   width: 100%;
}

.orLabel::before{
  position: absolute;
  top: 50%;
  left: 1%;
  content: '';
  width: 45%;
  height: 1px;
  background-color: #414c57;
}
.orLabel::after{
  position: absolute;
  top: 50%;
  right: 1%;
  content: '';
  width: 45%;
  height: 1px;
  background-color: #414c57;
}

.line{
  margin-top: 20px;
  background-color: #414c57;
  height: 1px; 
}

.login{
  color: rgb(34 211 238);
}


/* check box */

.cyberpunk-checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #22d3ee;
  border-radius: 5px;
  background-color: transparent;
  display: inline-block;
  position: relative;
  margin-right: 10px;
  cursor: pointer;
}

.cyberpunk-checkbox:before {
  content: "";
  background-color: #22d3ee;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 10px;
  height: 10px;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

.cyberpunk-checkbox:checked:before {
  transform: translate(-50%, -50%) scale(1);
}

.cyberpunk-checkbox-label {
  font-size: 18px;
  color: #adbac7;
  cursor: pointer;
  /* user-select: none; */
  display: flex;
  align-items: center;
}


/* spinner */

.spinner {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: aqua;
  display: grid;
  place-items: center;
  animation: zoomin 1.5s infinite alternate-reverse;
  position: relative;
 }
 
 .inner {
  background-color: #212121;
  width: 80%;
  height: 80%;
  border-radius: 100%;
 }
 
 @keyframes zoomin {
  0% {
   transform: scale(1);
   box-shadow: 0 0 100px 20px rgb(16, 71, 71);
  }
 
  100% {
   transform: scale(1.5);
   box-shadow: 0 0 100px 20px #000;
  }
 }


 /* sleleton loader style */

 .skeloton{
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 30px; */
   margin-top: 30px;
 }

 .card{
  max-width: 95%;
  width: 100%;
  /* padding: 0 30px; */
  border-radius: 10px;
}
.card .header{
  display: flex;
  align-items: center;
 
}
.header .img{
  height: 50px;
  min-width: 50px;
  background: #373e47;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.header .channel-img{
  height: 30px;
  width: 30px;
  background: #373e47;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
.header .details{
  margin-left: 10px;
}
.details{
  width: 75%;
  display: flex;
  align-items: center;
  gap: 4px;
}
.details span{
  display: block;
  /* width: 100%; */
  background: #373e47;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.details .name{
  height: 14px;
  width: 25%;
}
.details .channel-name{
  height: 14px;
  width: 80%;
}
.details .about{
  height: 10px;
  width: 20%;
}
.card .description{
  /* margin: 20px 0; */
}
.description{
 
}
.description .line{
  background: #373e47;
  border-radius: 10px;
  height: 13px;
  margin: 10px 0;
  overflow: hidden;
  position: relative;
}
.description .line-1{
  width: calc(100% - 15%);
}
.description .line-3{
  width: calc(100% - 40%);
}
.card .btns{
  display: flex;
}
.card .btns .btn{
  height: 45px;
  width: 100%;
  background: #373e47;
  border-radius: 25px;
  position: relative;
  overflow: hidden;
}
.btns .btn-1{
  margin-right: 8px;
}
.btns .btn-2{
  margin-left: 8px;
}
.header .img::before,
.details span::before,
.description .line::before,
.btns .btn::before{
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right, #373e47 0%, #3d4855 20%, #373e47 40%, #373e47 100%);
  background-repeat: no-repeat;
  background-size: 450px 400px;
  transform: translateX(-50%);
  animation: shimmer 1s linear infinite;
}
.header .img::before{
  background-size: 650px 600px;
}
.details span::before{
  animation-delay: 0.2s;
}
.btns .btn-2::before{
  animation-delay: 0.2s;
}
@keyframes shimmer {
  0%{
    background-position: -450px 0;
  }
  100%{
    background-position: 450px 0;
  }
}
